<h1> Restaurant#index </h1>

<% @restaurants.each do |restaurant| %>
<p> <%=link_to restaurant.name, "restaurants/#{restaurant.id}" %> <%= restaurant.address %> <%= restaurant.phone %></li> 
<% end %>